* {
  margin: 0;
  padding: 0;
}
.maincontainer {
  position: relative;
  width: 100%;
}
.maincontainer::before {
  content: "";
  background-image: url("https://images.pexels.com/photos/1778412/pexels-photo-1778412.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  left: 0;
  height: 93vh;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  background-position: center;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.forlogi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg {
  height: 40px;
  width: 100px;
  background: black;
  border-radius: 5px;
  color: white;
  margin: 20px 10px;
}

.reg a {
  text-decoration: none;
  color: white;
}
.link:hover,
.reg:hover {
  transform: scale(1.2);
}

.forcontent {
  display: flex;
  justify-content: space-between;
}

.forcontent .imgcontainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.heading {
  color: rgb(66, 154, 237);
  background-color:#eafbf1;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
  padding: 8px;
  font-size: 1rem;
  box-shadow: 2px 2px 2px black;
}
.secondpart {
    
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
}
.writtencontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 width: 40%;
 height: 100%;
   
}
.imagecontent{
    width: 40%;
    height: 100%
}
.imagecontent img {
width: 100%;
height: 90%;
object-fit: contain ;
}
.writtencontent img {
    width: 100%;
height: 90%;
object-fit: contain ;



}
footer {
  border: solid rgb(242, 210, 171) 1px;
  height: 20vh;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
  box-sizing: border-box;
}
.loginBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 20px;
}
.logAndCancle {
  display: flex;
  justify-content: space-between;
}

@media(max-width:770px){
    .secondpart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .writtencontent{
        width: 85%;
    }
    .imagecontent{
        width: 85%;
    }
}